<!doctype html>
<html lang="rus">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href= "color.css" />
    <title>Slothandra</title>
</head>
<body>

<img src="https://images.fineartamerica.com/images-medium-large-5/2-hoffmanns-two-toed-sloth-and-old-baby-suzi-eszterhas.jpg" width="300" height="200" />
<h1 style="color:MediumSeaGreen;"> Slothandra </h1>

<h4>Привет,<a href="https://en.wikipedia.org/wiki/Sloth"> <strong> Я СЛОС</strong> </a><del>, и я люблю есть очень много мяса</del> гибискус </h4>
<h4>Шутки - шутками, но на самом деле я люблю больше всех <em style="color:red;">Сашу Пусесенкову</em></h4>
<h4>Она - истинный слос, и мы всегда рады ей в нашем <mark>ПРАЙДЕ!</mark></h4>
</body>
</html>